.section_padding{
    padding: 4rem 4rem;
}
.footer{
    background-color: rgb(95, 86, 86);
}

.sb_footer{
    display: flex;
    flex-direction: column;
}
.sb_footer-links{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
    text-align:left;
    margin-bottom: 2rem;
}

.sb_footer-links_div{
    width:150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
    color:white;
}

a{
    color:rgb(175,175,179);
    text-decoration: none;
}

.socialmedia img{
    width:80%;

}

.sb_footer-links_div h4{
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}

.sb_footer-links_div p{
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}
.sb_footer-below{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: ;
}